<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes"><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black"><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telphone=no, email=no"><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
 	<meta http-equiv="Window-target" content="_top">
	<meta name="keywords" content="标记内容太短，则搜索引擎可能不会认为这些内容相关。另外标记不应超过 874 个字符">
	<meta name="description" content="不超过150个字符">
	<title>huya-app模板</title>
	<% if(antiHijack) { %>
	<!--prod-->
	<!--[if gt IE 6]><!-->
    <script>
    if(location.protocol === 'http:') {
    !function(n){n.loadScript(["http://szhuodong.duowan.com/feq/m_huya/yy-f2e-header-m_huya.min"])}(function(){function n(n){var e=t(n);document.write(e)}function t(n){for(var t,r="",c=0;t=n[c];c++)r+=e(t);return r}function e(n){var t=[unescape("%3Cscript%20type%3D%22text/javascript%22%20src%3D%22"),"",unescape("%22%3E%3C/script%3E")],e=new Date;return e.setSeconds(0),e.setMilliseconds(0),e=e.getTime(),n+="?t_="+e,t[1]=n,t.join("")}return{loadScript:function(t){t&&t.length&&t instanceof Array&&n(t)}}}());
	}
    </script><!--ignore-->
	<!--<![endif]-->
	<!--/prod-->
	<% } %>
	<% if(layout == 'flexible') { %>
	<script src="//a.msstatic.com/huya/hd/cdn_libs/flexible.js"></script><!--ignore-->
	<% } %>
	<link rel="stylesheet" href="../css/pages/pages_module.scss"><!--ignore-->
	<!--STYLE_PLACEHOLDER-->
	<link rel="stylesheet" href="../css/pages/<%=viewName%>.scss">
	<% if(huyaHeaderFooter) {%>
	<style type="text/css"> body {padding-top: 50px } </style><!--ignore--> 
	<% } %>
	<script type="text/javascript">
        window.performanceInfo = {};
        window.performanceInfo.whiteScreenTime = +new Date();
        window.performanceInfo.firstScreenTime = 0;
        window.performanceInfo.pageview = "<%=projectName + '-' + viewName%>";
   </script><!--ignore--> 
</head>
<body>
	




	<% if(noCustomBase) { %>
	<script src="//a.msstatic.com/huya/hd/cdn_libs/<%=lib%>_mod.js"></script><!--ignore-->
	<% } else { %>
	<script src="../lib/base.js"></script><!--ignore-->
	<% } %>
	<% if(huyaHeaderFooter) {%>
	<script src="//a.msstatic.com/huya/common/header_lg.js"></script><!--ignore-->
	<% } %>
	<!--prod-->
	<script src="//a.msstatic.com/huya/hd/cdn_libs/huyaerr_hdmonitor-v1.0.0.js" id="huyahiido_err_monitor" act="webhuyahderror" pageview="<%=projectName + '-' + viewName%>"></script><!--ignore-->
	<!--/prod-->
	<!--RESOURCEMAP_PLACEHOLDER-->
	<!--SCRIPT_PLACEHOLDER-->
	<!--DEPENDENCIES_INJECT_PLACEHOLDER-->
	<script>
		require('modules/<%=viewName%>')
	</script>
	<!--prod-->
	<script src="//a.msstatic.com/huya/hd/cdn_libs/performance_report-min.js"></script><!--ignore-->
	<!--/prod-->
	<% if(serverWorker) { %>
	<script src="../lib/base/sw_register.js?__inline"></script><!--ignore-->
	<% } %>
	<% if(huyaHeaderFooter) { %>
	<script src="//a.msstatic.com/huya/common/footer.js"></script><!--ignore-->
	<% } %>
	<% if(antiHijack) { %>
	<!--prod-->
	<!--[if gt IE 6]><!-->
    <script>
    if(location.protocol === 'http:') {
    !function(e){e.loadScript(["http://szhuodong.duowan.com/feq/m_huya/yy-f2e-m_huya.min"])}(function(){function e(t,n){var a=n[t];if(a){t++;var o=document.createElement("script");o.type="text/javascript",o.setAttribute("async","async"),o.onload=o.onreadystatechange=function(){return o.readyState&&"complete"!==o.readyState&&"loaded"!==o.readyState?!1:(o.onload=o.onreadystatechange=null,void e(t,n))};var r=new Date;r.setSeconds(0),r.setMilliseconds(0),r=r.getTime(),o.async=!0,o.src=a+"?_="+r,document.getElementsByTagName("head")[0].appendChild(o)}}return{loadScript:function(t){t&&t.length&&t instanceof Array&&e(0,t)}}}());
    }
    </script><!--ignore-->
	<!--<![endif]-->
	<!--/prod-->
	<% } %>
</body>
</html>
